/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Jost-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

li {
    color: black;
}
.dark-mode li {
    color: white;
}

:root {
    --background-color-dark: #000000;
    --title-page-color-dark: #f0f0f0;
    --other-title-color-dark: #c4c4c4;
    --simple-content-color: #858585;

    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.2rem;
    --font-size-medium-2: 3.8rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: #000;
    --pink: #ff3258;
    --white: #f0e9f2;
    --white-1: #e5e5e6da;


    --container-max-width: 1180px;
    --container-max-width2: 1320px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --gutter-huge: 10rem;
    --gutter-medium: 4.5rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 1rem;

    --border-light: 1px solid rgb(36, 35, 35);
}

html {
    font-size: 62.5%; /* (16/10)*100 = 62.5% => 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media(max-width: 1000px) {
    html {
        font-size: 52%;
    }
}

#mask {
    height: 100%;
    width: 100%;
  
    z-index: 999;
  
    position: fixed;
    left: 0;
    top: 0;
  
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

body {
    font-size: var(--font-size-normal);
    font-family: var(--font-stack);
    font-weight: 400;
    line-height: var(--line-height-normal);
    overflow-x: hidden;
    
}

/* .active { background-color: red; } */

.ui-fluid-card
{
    margin: 3vh 20px 2vh; 
    background-color: none; 
    border: 1px solid white; 
    border-radius: 6px; 
    padding-bottom: 2vh;

}

#settings {
    /* display: block;  */
    margin-top: 2vh; 
    font-size: 2rem;
    position: fixed;
    right: 2rem;
    top: 1rem;
    /* filter: brightness(0%); */
  }
  
  .settings__code2 {
    height: 4rem;
  }
  
  
  
  #settings:hover {
    filter: grayscale(100%) brightness(30%) sepia(40%) hue-rotate(-55deg) saturate(490%) contrast(3.0);
    transition: none;
  }
  
  
  .settings__code2:hover {
    transform: scale(1.2);
    filter: invert(100%);
    transition: none;
  }
  
  
#settings-block {
    position: fixed;
    text-align: center;
  
    right: 5rem;
    top: 5.5rem;
  
    background-color: #a0a0a0;
  
    border-radius: 0.5rem;
  
    padding: 0.5rem;
  }
  
@media screen and (max-width : 1300px) {
    
    .settings__code2 {
        height: 3rem;
      }
      
    #settings {
        margin-top: 2vh; 
        font-size: 2rem;
        position: fixed;
        right: 1rem;
        top: 1rem;
      }

      #settings-block {
        position: fixed;
        text-align: center;
      
        right: 1rem;
        top: 5.5rem;
      
        background-color: #a0a0a0;
      
        border-radius: 0.5rem;
      
        padding: 0.5rem;
      }
      
}
  
@media screen and (max-width : 500px) {
    
    .settings__code2 {
        height: 3rem;
      }
      
    #settings {
        margin-top: 2vh; 
        font-size: 2rem;
        position: fixed;
        right: 1rem;
        top: 7rem;
      }

      #settings-block {
        position: fixed;
        text-align: center;
      
        right: 1rem;
        top: 11.5rem;
      
        background-color: #a0a0a0;
      
        border-radius: 0.5rem;
      
        padding: 0.5rem;
      }
      
}


  #settings-block button {
    background-color: transparent;
  
    border-width: 0;
  }
  
  #settings-block button:focus {
    outline: none;
  }
  
  .mode-selected {
    color: #ffffff;
  }
  
  .hide {
    display: none;
  }
  
  main a span:first-child {
    margin-right: 1rem;
  }



/*  ************************** Dark Mode Changes **************************  */


.dark-mode {
    background-color: var(--background-color-dark);
  }
  
  
  .dark-mode main a {
    color: var(--other-title-color-dark);
  }
  

  .dark-mode .settings__code2,
  .dark-mode .work__code2 {
    filter: invert(100%);
  }
  

  .dark-mode header h1 {
    color: var(--title-page-color-dark);
  }
  
  .dark-mode p {
    color: var(--title-page-color-dark);
  
  }
  
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h7 {
    color: white;
}

  
  .dark-mode nav a {
    color: white;
  }
  
  .dark-mode .other-title {
    color: var(--other-title-color-dark);
  }
  
  
  .dark-mode .simple-content {
    color: var(--simple-content-color);
  }

  .dark-mode h2::after
  {
      background: #821111;
  }
  
  
  .dark-mode .work__text h4,
  .dark-mode .work__text li,
  .dark-mode .coursework__text h4,
  .dark-mode .coursework__text li,
  .dark-mode .row-mid h5,
  .dark-mode .link__text,
  .dark-mode .back-to-0,
  .dark-mode .nav__link2
  {
      color: white;
  }
  
  .dark-mode .header__text p,
  .dark-mode .See-my-work .btn--contact
  {
      color: white;
  }
  
  .dark-mode .all-projects .btn--projects,
  .dark-mode .all-projects p,
  .dark-mode .all-projects h4
  
  {
      color: white;
  }
  



/*  ************************** row **************************  */


.row {
    max-width: var(--container-max-width);
    margin: 0 auto 0;
}

.row-mid {
    max-width: var(--container-max-width2);
    margin: 0 auto;
    display: block;
    align-items: center;
    text-align: center;
}


@media(max-width: 1340px) {
    .row {
        max-width: 1100px;
    }
}

@media(max-width: 1240px) {
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-normal);
    }
}

/* @media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-small);
    }
} */

section {
    padding: var(--gutter-small-1) 0;
    border-bottom: var(--border-light);
}
/* section:active{

} */

#work{
    padding: var(--gutter-normal) 0;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}

@media screen and (max-width : 800px) {
    /* .row {
        max-width: var(--container-small-width);
        margin: 0 auto 0;
    } */
    img {
        object-fit: contain;
        max-width: 90%;
    }

}



/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */


h0 {

    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--white);

}

h1,
h2,
h3, 
h4,
h5{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: black;
}


h6 {

    display: block;
    font-size: 1.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
    } 

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
}

@media(max-width: 900px) {
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-top: var(--gutter-small-1);
    /* display: flex; */
    justify-content: space-between;
}


/*------ End of Toggle switch ------*/


h5 {
    font-size: var(--font-size-large);
    margin-top: var(--gutter-small-1);
}


h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: #821111;
    margin: var(--gutter-small) 0;
}

h3 {
    font-size: var(--font-size-medium-1);
    margin-top: var(--gutter-medium);
    margin-bottom: var(--gutter-small);
}

h7 {
    font-size: var(--font-size-medium-2);
    margin-top: var(--gutter-medium);
    margin-bottom: var(--gutter-small);
}


h4 {
    font-size: var(--font-size-normal);
    margin-bottom: var(--gutter-small);
}



@media(max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }

    h2, h5 {
        font-size: var(--font-size-medium-1);
    }

    h3 {
        font-size: var(--font-size-medium);
    }
}

p {
    margin: var(--gutter-small-1) 0;
    /* color : #821111; */

}

/* b {
    color : #821111;
} */

/* @media(max-width: 900px) {
    p { 
        max-width: var(--container-small-width);
    }
} */

/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    color: white;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}
.dark-mode a {
    color: var(--white);
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}



::-moz-focus-inner {
    border: 0;
}

button:focus,
a:focus {
    outline: 2px solid #821111;
}


body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus{
    outline: none;
}

.link:hover {
    color: #821111;
}

.See-my-work {
    position: relative;
    top: 70px;
    /* transform: translateY(100%); */
    display: flex;
    justify-content: space-between;
    /* padding-top: 250px; */
}


/* ----- contact / see my work buttons/ link/demo button ----- */
.See-my-work .btn:focus,
.all-projects .btn:focus,
.demo--btn:focus{
    outline: none;
    color:#821111;
}

.See-my-work .btn--arrow:hover{
    outline: none;
    color:#821111;
}


.See-my-work .btn--contact,
.See-my-work .btn--contact:focus
{
    outline: none;
    color: white;
}

.demo--btn,
.demo--btn:focus {
    outline: none;
    color: black;
}
.demo--btn:hover::after
 {
    outline: none;
    color:#821111;
}



body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
    outline: none;
}
/* ----- *** ----- */


/* ----- Hover ----- */
.See-my-work .btn:hover::after,
.all-projects .btn:hover::after
 {
    outline: none;
    color:#821111;
}
.See-my-work .btn--contact:hover::after,
.all-projects .btn--projects:hover::after
 {
    outline: none;
    color:#821111;
}

.See-my-work .btn--arrow:hover::after {
    outline: none;
    color:#821111;
}
/* ----- ********* ----- */


/* ----- .btn--arrow ----- */

.See-my-work .btn--arrow
{
    border: none;
    outline: none;
    color : white;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 100% 35%;
    font-size: 25px;
    margin-left: 700px;
    border: none;
    line-height: 1;
}
.See-my-work .btn--arrow svg {
    border: none;
    outline: none;
    width: 30px;
    line-height: 1;
    margin-left: 15px;
    animation: updown2 3s infinite;
}


.See-my-work .btn--arrow:hover::after,
.See-my-work .btn--arrow:focus::after
{
    right: 0;
    color : black;
    background:transparent;
}

.See-my-work .link:hover::after {

    color: black;
}

@keyframes updown2 {
    0%   { transform: translateY(5px); }
    30%  { transform: translateY(-30px); }
    50%  { transform: translateY(5px); }
    100% { transform: translateY(5px); }
  }



.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid  #821111;
    font-weight: 400;
}

.btn:focus {
    outline: none;
}

.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
}

.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: #821111;
}



.btn--pink {
    background: transparent;
    transition: all 0.2s;
}

.btn--pink::after {
    display: none;
}

.btn--pink:hover,
.btn--pink:focus {
    background: #821111;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #821111;
}

.link__text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
    outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
    right: 0;
    background: #821111;
}

.link__text span {
    padding-left: 1rem;
    font-family: sans-serif;
}

/* ----- Back to Top ----- */

.scroll-up {
    position: fixed;
    bottom: 50%;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    background-color: #821111;
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    transition: all .4s;
    cursor: pointer;
}



.scroll-up__image {
    height: 70%;
}

@media(max-width: 900px) {
    .scroll-up {
        right: 2rem;
    }
}

@media(max-width: 500px) {
    .scroll-up {
        right: 1rem;
    }
}

/* ----- Scroll down ----- */


.scroll-down {
    position: fixed;
    bottom: 42%;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    background-color: #821111;
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    transition: all .4s;
    cursor:pointer;
}

.scroll-down_image {
    height: 70%;
    transform: rotate(180deg);
}

@media(max-width: 900px) {
    .scroll-down {
        right: 2rem;
    }
}

@media(max-width: 500px) {
    .scroll-down {
        right: 1rem;
    }
}



/* ----- Back to 0 ----- */

.btn .back-to-0:focus {
    outline: none;
    color:#821111;
}
.back-to-0:hover,
.dark-mode .back-to-0:hover
{
    outline: none;
    color:#821111;
}
.back-to-0:focus {
    outline: none;
    color:#821111;
}




.back-to-0 {
    border: none;
    outline: none;
    position: fixed;
    color : black;
    background-repeat: no-repeat;
    text-decoration: none;
    bottom: 50%;
    right: 4rem;
    height: 4.5rem;
    width: 20rem;
    visibility: hidden;
    cursor: pointer;
}

.dark-mode .back-to-0 {
    border: none;
    outline: none;
    position: fixed;
    color : white;
    background-repeat: no-repeat;
    text-decoration: none;
    bottom: 50%;
    right: 4rem;
    height: 4.5rem;
    width: 20rem;
    visibility: hidden;
    cursor: pointer;
}



.back-to-0 svg {
    border: none;
    outline: none;
    width: 30px;
    line-height: 1;
    margin-left: 100px;
    animation: updown 3s infinite;
}


.back-to-0:hover::after,
.back-to-0:focus::after
{
    right: 0;
    color : black;
    background:transparent;
}

@keyframes updown {
    0%   { transform: translateY(-30px); }
    30%  { transform: translateY(-70px); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(-30px); }
  }



/* --------------------------------------- */
/* ----- Navigation ----- */
/* --------------------------------------- */

.nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-normal) 0;
}


.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: var(--gutter-medium);
}


@media(max-width: 1300px) {
    .nav {
        justify-content: left;
    }
}

@media(max-width: 400px) {
    .nav__item:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 300px) {
    .nav {
        font-size: var(--font-size-small);
    }
}

li a:is(:link, :active, :visited).active {
    color:#821111;
    background-color: transparent;

}

.dark-mode li a:is(:link, :active, :visited).active {
    color:#821111;
    background-color: transparent;
}

a:is(:link, :active, :visited).active {
    color:#821111;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: white;
    transition: all .2s;
}
.nav__link2 {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: black;
    transition: all .2s;
}

.nav__link::after,
.nav__link2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

/* .nav__link:active, */
.nav__link:hover,
.nav__link2:hover {
    color: #821111;
}

.nav__link:hover::after,
.nav__link2:hover::after
 {
    right: 0;
    height: 2px;
    background: #821111;
}

/* --------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------- */

.header {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('./images/header.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
}

.nav-2 {
    font-size: var(--font-size-normal);
}

.header2 {
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('./images/header.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-size: var(--font-size-normal);
}

.header__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__text p {
    margin: 1.5rem 0 8.5rem;
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-medium);
    color: white;
}

.image-description {

    position: absolute;
    top: 90%;
    left: 80%;
    transform: translateY(25%);

}

.image-description p {
    margin: 1.5rem 0 8.5rem;
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-small);
    color: white;
}


@media(max-width: 500px) {
    .header {
        text-align: center;
    }

    .header__text p {
        transform: scale(.8);
    }
}

/* --------------------------------------- */
/* ----- Work ----- */
/* --------------------------------------- */


.work__box {
    display: flex;
    /* align-items: center; */
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

@media(max-width: 900px) {
    .skill__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work__box:not(:last-child) {
}
#workbox1,
#workbox2,
#workbox3,
#workbox4,
#workbox5,
#workbox6,
#workbox7,
#workbox8,
#workbox9,
#workbox10
{
    margin-bottom: 14rem;

}

.skill__box:not(:last-child) {
    margin-bottom: 14rem;
}

@media(max-width: 500px) {
    .work__box:not(:last-child) 
    {
    }
}

.work__links {
    display: flex;
    align-items: center;
}

.work__text {
    flex: 0 0 50%;}
.work__text p {
    font-size : var(--font-size-normal);}


.list-2 li {
    list-style: none;
    position: relative;
    padding: 3px 0 2px 25px;
  }
  
  .list-2 li::before {
    content: '*';
    position: absolute;
    top: 6px;
    left: 0;
  }


.work__list {
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.work__list3 {
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
    max-width: 50%
}
.work__list3 li {
    display: inline;

}

.work__list2 {
    list-style-position: inside;
    text-indent: -1.3em;
    padding-left: 1em;
    margin-bottom: var(--gutter-normal);
}

.work__code {
    display: block;
    height: 4rem;
    margin-left: var(--gutter-normal);
}

.work__code2 {
    display: block;
    height: 4rem;
    margin-left: var(--gutter-normal);
  filter: brightness(0%);
}

.work__code:hover,
.work__code2:hover {
    
    transform: scale(1.2);
    filter: grayscale(100%) brightness(30%) sepia(40%) hue-rotate(-55deg) saturate(490%) contrast(3.0);
    transition: none;
}

.work__image-box {
    margin-bottom: var(--gutter-normal);
}

.work__image-box2 {
    margin-bottom: var(--gutter-normal);
}


@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 0rem;
    }
}

@media(min-width: 901px) {
    .work__image-box2 {
        flex: 1;
        margin: 0 0 0 3rem;
    }
}

@media(max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}

/* --------------------------------------- */
/* ----- skills ----- */
/* --------------------------------------- */

#skills{
    padding: var(--gutter-normal) 0;
}

#course_work{
    margin-bottom: 15rem;
}

.skill__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill__logo {
    height: 10rem;
    max-width: 18rem;
}

@media(max-width: 1240px) {
    .skill__logos {
        overflow-x: scroll;
        padding: var(--gutter-normal);
    }

    .skill__logo:not(:last-of-type) {
        margin-right: var(--gutter-medium);
    }
}


/* --------------------------------------- */
/* ----- Spinning cube ----- */
/* --------------------------------------- */


@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }

  @keyframes spincube {
    from,to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }
    33% {
      -moz-transform: rotateY(-90deg) rotateZ(90deg);
      -ms-transform: rotateY(-90deg) rotateZ(90deg);
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      -moz-transform: rotateY(-180deg) rotateZ(90deg);
      -ms-transform: rotateY(-180deg) rotateZ(90deg);
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      -moz-transform: rotateY(-270deg) rotateX(90deg);
      -ms-transform: rotateY(-270deg) rotateX(90deg);
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }

  .cubespinner {
    display: inline-block;
    margin-left: 50%;

    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;

    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
  }


  .cubespinner div {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.4);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    line-height: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 160px;
  }

  .cubespinner .face1 {
    -webkit-transform: translateZ(150px);
    -moz-transform: translateZ(150px);
    -ms-transform: translateZ(150px);
    transform: translateZ(150px);
  }
  .cubespinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(150px);
    -moz-transform: rotateY(90deg) translateZ(150px);
    -ms-transform: rotateY(90deg) translateZ(150px);
    transform: rotateY(90deg) translateZ(150px);
  }
  .cubespinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
  }
  .cubespinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
  }
  .cubespinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
  }
  .cubespinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(150px);
    -moz-transform: rotateX(-90deg) translateZ(150px);
    -ms-transform: rotateX(-90deg) translateZ(150px);
    transform: rotateX(-90deg) translateZ(150px);
  }
/* --------------------------------------- */
/* ----- Spinning cube 2 ----- */
/* --------------------------------------- */


@-webkit-keyframes spincube2 {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }

  @keyframes spincube2 {
    from,to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }
    33% {
      -moz-transform: rotateY(-90deg) rotateZ(90deg);
      -ms-transform: rotateY(-90deg) rotateZ(90deg);
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      -moz-transform: rotateY(-180deg) rotateZ(90deg);
      -ms-transform: rotateY(-180deg) rotateZ(90deg);
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      -moz-transform: rotateY(-270deg) rotateX(90deg);
      -ms-transform: rotateY(-270deg) rotateX(90deg);
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }

  .cubespinner2 {
    display: inline-block;
    position: relative;
    top: 40%;
    width: 250px;
    height: 250px;
    margin-left: 900px;
    -webkit-animation-name: spincube2;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;

    animation-name: spincube2;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;

  }
  .cubespinner2 img{
    width: 65%;
    height: 65%;
  }

  .cubespinner2 div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.4);
    box-shadow: inset 0 0 25px rgba(0,0,0,0.2);
    line-height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 62.5px;
  }


  .cubespinner2 .face1 {
    -webkit-transform: translateZ(125px);
    -moz-transform: translateZ(125px);
    -ms-transform: translateZ(125px);
    transform: translateZ(125px);
  }
  .cubespinner2 .face2 {
    -webkit-transform: rotateY(90deg) translateZ(125px);
    -moz-transform: rotateY(90deg) translateZ(125px);
    -ms-transform: rotateY(90deg) translateZ(125px);
    transform: rotateY(90deg) translateZ(125px);
  }
  .cubespinner2 .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
  }
  .cubespinner2 .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
  }
  .cubespinner2 .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
  }
  .cubespinner2 .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(125px);
    -moz-transform: rotateX(-90deg) translateZ(125px);
    -ms-transform: rotateX(-90deg) translateZ(125px);
    transform: rotateX(-90deg) translateZ(125px);
  }
.stage {
    width: 500px;
    height: 400px;
}
@media(max-width: 1300px) {
    .stage {
        width: 250px;
        height: 400px;
    }
}


/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- */

.about__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: left;
    justify-content: left;
    /* align-items: center; */
}

@media(max-width: 900px) {
    .about__content {
        flex-direction: column-reverse;
        align-items: initial;
    }
}

.about__photo-container {
}

@media(min-width: 901px) {
    .about__text {
        flex: 0 0 40%;
    }
    .about__text2 {
        text-align: center;
    }
    
    .about__photo-container {
        flex: 1;
        align-items: left;
        text-align : left;

    }
}

.about__photo {
    max-width: 60%;

}

/* --------------------------------------- */
/* ----- Contact ----- */
/* --------------------------------------- */

.contact__info {
    max-width: var(--container-medium-width);
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
    text-align: center;
}

.footer p {

    font-size: var(--font-size-small);
    margin: 1;
    /* color : #821111; */
    /* font-weight: bold; */
}

.footer__social-links {
    display: flex;
    outline: none;
    border: none;
    justify-content: center;
    list-style: none;
}
.footer__social-image:hover
{
    transform: scale(1.2);
    filter: grayscale(100%) brightness(30%) sepia(40%) hue-rotate(-55deg) saturate(490%) contrast(3.0);
    outline: none;
    border: none;
}

.footer__social-link-item:not(:last-of-type) {
    margin-right: var(--gutter-small);
}

.footer__social-image {
    height: 4rem;
}

.footer__github-buttons {
    display: flex;
    justify-content: center;
}

.footer__github-buttons iframe {
    height: 2.5rem;
    width: 84px;
    transform: translateY(3px);
}

@media(max-width: 500px) {
    .footer {
        padding: var(--gutter-medium) 0;
    } 
}


/* -------------------------------- SLIDESHOW --------------------------------  */
/* ---------------------------------------------------------------------------  */
 /* Slideshow and image container */
 
 .img-container {
        max-width: auto;
        position: relative;
        margin: auto;
        margin-left: -6rem;
 }

 .myimg {
    display:none;
    text-align : center;
 }

 .myimg img {
    max-width: 100%;
    width: 90%;
    height: 700px;
    object-fit: contain;
  }

 .slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
    margin-left: -6rem;
  }
  
 /* .slideshow-container2 {
    max-width: auto;
    position: relative;
    margin: auto;
    margin-left: -6rem;
  } */
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;

    margin-left: 0rem;

    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    /* margin-left: -8rem; */
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom:20px;
    width: 100%;
    text-align: center;
  }
  .mySlides {
    display:none;
    text-align : center;

  }

  .mySlides img {
    max-width: 100%;
    width: 90%;
    height: 700px;
    object-fit: contain;
  }

  .active-slide {
    display:block;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    margin-left: 0rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.dot:hover, 
.dot.active {
    background-color: #821111;
  }
  

  .dark-mode .dot:hover  {
    background-color: #821111;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .about__text {
    padding-left: 35px;

  }

