body {
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
    line-height: var(--line-height-normal);
    overflow-x: hidden;
    
    /* background: rgb(14, 14, 14); */
    /* color: var(--white-1); */
}