

a {
  color: #821111;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  transition: all .2s;
  outline: 2px solid transparent;
}
.dark-mode a {
  color: #821111;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  transition: all .2s;
  outline: 2px solid transparent;
}